*{

	margin:0px;
	padding: 0px;
}

a{
	text-decoration: none;
	
}

body{

	background-image: url("WebIcons/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container{

	margin:auto;
    font-family: 'Krub', sans-serif;
	width: 60%;
	padding-top: 60px;
	box-shadow: 0px 0px 5px #ecf0f1;
	background-color: #fff;
	padding:40px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#navigation{

	width:100%;
	min-height: 50px;
	background-color: #333;
	position: fixed;

}

#navigation ul{

	margin:auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}

#navigation ul li{

	
	font-family: 'Roboto', sans-serif;
	color:#fff;
	display: inline;
	padding: 20px; 


}
.header{

	text-align: center;
	background-color: #333;
	width:100%;
	min-height: 80px;
}

#text{

	padding: 20px;
	color: #fff;

}

.intro{

	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 25px;

}

.contact_list li{

	list-style-type: none;
	display: inline;
	padding: 10px;
	margin: auto;
}

.footer{

	position:fixed;
	background-color:#333; 
	width:100%;
	min-height: 50px;
}